@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700;800;900;1000&family=Poppins:wght@400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}
     /* NAVBAAR */
.navbar{
    width: 100%;
    height: 70px;
    background-color: #222;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 4%;
    position: fixed;
    z-index: 999;
}
.navbar .logo{
    font-size: 28px;
    color: #fff;
}
.navbar .logo>span{
    color: #fc00fc;
}
.navbar ul{
    display: flex;
}
.navbar ul li{
    list-style: none;
    margin: 0 10px;
}
.navbar ul li a{
    text-decoration: none;
    font-size: 16px;
    padding: 5px 15px;
    text-transform: uppercase;
    color: #fff;
}

     /* HERO SECTION */

.container{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #222;
    padding: 0 4%;
}
.left{
    width: 50%;
    height: 100%;
    /* background-color: red; */
    color: #fff;
}
.left h2{
    font-size: 38px;
    line-height: 1;
    margin-top: 160px;
}
.left p{
    font-size: 15px;
    margin-top: 20px;
    margin-bottom: 50px;
}
.left #btn{
    padding: 10px 30px;
    background-color: #fc00fc;
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    border-radius: 3px;
}

#btn:hover{
    animation: rotate 0.3s ease-in-out both;
    
}
@keyframes rotate {
    0%{
        padding: 10px 30px;
    }
    25%{
        padding: 5px 40px;
    }
    50%{
        padding: 4px 30px;
    }
    75%{
        padding: 7px 24px;
    }
    100%{
        padding: 10px 30px;
    }
    
}

.right{
    width: 50%;
    height: 100%;
    /* background-color: yellow; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.right img{
    width: 93%;
    height: 80%;
    object-fit: cover;
    object-position: center;

}